:root {
    --c-black: #111111;
    --c-alt-black: #666666;
    --c-orange: #c48f56;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Mulish', sans-serif;
    background-color: var(--c-black);
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.text-poppins {
    font-family: 'Poppins', sans-serif;
    color: var(--c-alt-black);
    letter-spacing: 5px;
    font-size: 14px;
    text-transform: uppercase;
}
/* Start Navbar */
.navbar {
    background-color: var(--c-black);
}
.navbar .navbar-brand img {
    height: 45px;
    margin: 10px;
}
.navbar ul li .nav-link {
    font-size: 13px;
    border-bottom: 3px solid transparent;
    transition: all 0.4s ease-in-out;
}
.navbar ul li .nav-link:hover {
    border-bottom: 3px solid var(--c-orange);
}
.navbar .navbar-nav .dropdown-menu {
    width: 280px;
}
.navbar .navbar-nav .dropdown-item {
    color: var(--c-alt-black);
    padding: 10px 30px;
    transition: all 0.4s ease-in-out;
}
.navbar .navbar-nav .dropdown-item:hover {
    padding-left: 40px;
    padding-right: 20px;
    background-color: rgb(33,37,41);
}
.navbar .navbar-nav .sub-menu {
    top: 0;
    left: 270px;
    opacity: 0;
    z-index: -1;
    height: 0;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
}
.navbar .navbar-nav .grid,
.navbar .navbar-nav .mansonry {
    transition: 0.3s;
}
.navbar .navbar-nav .grid:hover .sub-menu,
.navbar .navbar-nav .mansonry:hover .sub-menu {
    opacity: 1;
    z-index: 2;
    height: auto;
}
.navbar .icons a {
    background-color: rgba(102,102,102,0.1);
    color: white;
    transition: all 0.4s ease-in-out;
}
.navbar .icons a:last-child {
    font-size: 7px;
    padding: 23px 14px;
}
.navbar .icons a:hover {
    background-color: white;
    color: var(--c-black);
    margin-top: -10px;
}
@media (max-width: 1200px) {
    .navbar .navbar-brand img {
        height: 35px;
        margin: 0;
    }
    .navbar .navbar-toggler {
        background-color: var(--c-orange);
    }
    .navbar .navbar-nav {
        margin-top: 40px;
    }
    .navbar ul li .nav-link svg {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
    }
    .navbar ul li .nav-link {
        padding: 15px 10px;
        margin-bottom: 10px;
        background-color: rgba(102,102,102,0.1);
    }
    .navbar ul li .nav-link:hover {
        border-color: transparent;
        opacity: 0.7;
    }
}
/* End Navbar */
/* Start Landing */
.landing {
    background-image: url(../imgs/download.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: calc(100vh - 91px);
}
.landing h1 {
    font-family: 'Playfair Display SC', serif;
    font-size: 90px;
}
.landing h1 span .and {
    color: var(--c-orange);
    font-size: 70px;
}
.landing h1 span span:last-child {
    font-size: 120px;
}
.landing a {
    border: 1px solid var(--c-alt-black);
    padding: 12px 30px;
}
.landing a:hover {
    color: var(--c-alt-black);
    border-color: var(--c-orange);
}
@media (max-width: 380px) {
    .landing h1 {
        font-size: 65px;
    }
    .landing h1 span .and {
        color: var(--c-orange);
        font-size: 50px;
    }
    .landing h1 span span:last-child {
        font-size: 80px;
    }
}
/* End Landing */
/* Start Lifestyle */
.lifestyle {
    padding-top: 40px;
    padding-bottom: 40px;
}
.lifestyle .box h2 {
    font-family: 'Playfair Display SC', serif;
    font-size: 50px;
}
.lifestyle .box .min-box img {
    width: 60px;
    height: 60px;
}
.lifestyle .box .min-box .info h3 {
    font-family: 'Playfair Display SC', serif;
    font-size: 18px;
}
.lifestyle .box .min-box .info p {
    font-size: 14px;
    color: var(--c-alt-black);
    line-height: 2.3;
}
@media (max-width: 991px) {
    .lifestyle .box .min-box {
        max-width: 550px;
        width: fit-content;
    }
}
@media (max-width: 380px) {
    .lifestyle .box h2 {
        font-size: 35px;
    }
}
/* End Lifestyle */
/* Start Nature And Humanity */
.nature-humanity {
    min-height: 850px;
}
.nature-humanity img {
    top: 0;
    right: 0;
    border: 10px solid var(--c-alt-black);
    object-fit: cover;
    max-height: 500px;
    z-index: -1;
}
.nature-humanity .info {
    top: 310px;
}
.nature-humanity .info span svg {
    color: var(--c-orange);
    font-size: 70px;
}
.nature-humanity .info h2 {
    font-family: 'Playfair Display SC', serif;
    font-size: 90px;
    max-width: 60%;
    line-height: 1.2;
}
@media (max-width: 991px) {
    .nature-humanity .info h2 {
        font-size: 70px;
        max-width: 100%;
    }
}
@media (max-width: 767px) {
    .nature-humanity .info h2 {
        font-size: 60px;
    }
}
@media (max-width: 400px) {
    .nature-humanity .info {
        top: 210px;
    }
}
/* End Nature And Humanity */
/* Start Creativity */
.creativity {
    padding-top: 20px;
    padding-bottom: 80px;
}
.creativity img {
    border: 12px solid #333;
    width: 500px;
}
.creativity .box h2 {
    font-family: 'Playfair Display SC', serif;
    font-size: 50px;
}
.creativity .box p {
    font-size: 14px;
    color: var(--c-alt-black);
    line-height: 2.3;
}
.creativity .box a {
    border: 1px solid var(--c-alt-black);
    padding: 12px 30px;
}
.creativity .box a:hover {
    color: var(--c-alt-black);
    border-color: var(--c-orange);
}
@media (max-width: 991px) {
    .creativity .box span {
        display: block;
        margin-top: 50px;
    }
}
/* End Creativity */